@charset "UTF-8";
html, body {
  user-select: none;
  /* CSS3 */
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Safari、Chromeなど */
  -ms-user-select: none;
  /* IE10かららしい */ }

#message_container {
  position: fixed;
  overflow: scroll;
  /* 念のため */
  z-index: 2;
  width: 100%;
  height: 100%; }
  #message_container .message {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    display: none; }
  #message_container .title {
    display: block;
    padding-top: 32px; }
    #message_container .title .title_image {
      width: 300px;
      margin: 0 auto 32px; }
      #message_container .title .title_image img {
        width: 100%;
        height: auto; }
    #message_container .title .button {
      width: 240px;
      margin: 0 auto;
      padding: 8px;
      text-align: center;
      font-size: 30px;
      color: white;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.45098) 0px 5px 30px 0px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.45098) 0px 5px 30px 0px;
      -moz-box-shadow: rgba(0, 0, 0, 0.45098) 0px 5px 30px 0px; }
    #message_container .title .buttle {
      margin-bottom: 16px;
      background-color: #daa520; }
    #message_container .title .train {
      background-color: white;
      color: #daa520;
      margin-bottom: 16px; }
    #message_container .title .tutor {
      margin-bottom: 16px;
      background-color: #4a3b25;
      color: white;
      font-size: 26px; }
  #message_container .connecting .text {
    position: relative;
    height: 44px;
    top: calc(50% - 88px);
    text-align: center;
    font-size: 50px;
    font-weight: bold; }
  #message_container .team_select #message_rope_id {
    padding-top: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px; }
  #message_container .team_select .text {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px; }
  #message_container .team_select .button {
    box-shadow: rgba(0, 0, 0, 0.45098) 0px 5px 30px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45098) 0px 5px 30px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.45098) 0px 5px 30px 0px; }
    #message_container .team_select .button.disabled {
      opacity: 0.4; }
  #message_container .team_select .team_buttons {
    margin-bottom: 20px;
    zoom: 1; }
    #message_container .team_select .team_buttons:before, #message_container .team_select .team_buttons:after {
      display: block;
      height: 0;
      visibility: hidden;
      content: "\0020"; }
    #message_container .team_select .team_buttons:after {
      clear: both; }
    #message_container .team_select .team_buttons .button {
      width: 100px;
      height: 100px;
      float: left;
      border-radius: 50px;
      text-align: center;
      padding-top: 24px;
      font-size: 36px; }
    #message_container .team_select .team_buttons .red_button {
      margin-left: calc(50% - 100px - 15px);
      color: white;
      font-weight: bold;
      background-color: #E6040A; }
    #message_container .team_select .team_buttons .white_button {
      margin-left: 30px;
      color: #daa520;
      font-weight: bold;
      background-color: white; }
  #message_container .team_select .team_player_number {
    margin-bottom: 20px;
    zoom: 1; }
    #message_container .team_select .team_player_number:before, #message_container .team_select .team_player_number:after {
      display: block;
      height: 0;
      visibility: hidden;
      content: "\0020"; }
    #message_container .team_select .team_player_number:after {
      clear: both; }
    #message_container .team_select .team_player_number .number {
      float: left;
      width: 120px;
      text-align: center;
      font-size: 32px;
      font-weight: bold; }
    #message_container .team_select .team_player_number .red_team_number {
      margin-left: calc(50% - 130px); }
    #message_container .team_select .team_player_number .white_team_number {
      margin-left: 20px; }
  #message_container .team_select .start_button, #message_container .team_select .back_button {
    width: 240px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 16px; }
  #message_container .team_select .start_button {
    margin-bottom: 20px;
    background-color: #daa520;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3); }
  #message_container .team_select .back_button {
    background-color: white;
    color: #daa520;
    font-size: 30px;
    padding: 11px; }
  #message_container .count_one .text, #message_container .count_two .text, #message_container .count_three .text, #message_container .count_go .text {
    position: relative;
    top: calc(50% - 240px);
    padding: 0;
    font-size: 280px;
    font-weight: bold;
    text-align: center; }
  #message_container .count_go {
    padding-top: 160px; }
    #message_container .count_go .text {
      position: relative;
      top: calc(50% - 200px);
      font-size: 140px; }
  #message_container .finish {
    font-size: 120px;
    text-align: center;
    font-weight: bold;
    background-color: transparent; }
    #message_container .finish .red, #message_container .finish .white {
      height: 100%; }
      #message_container .finish .red .win, #message_container .finish .red .lose, #message_container .finish .white .win, #message_container .finish .white .lose {
        position: relative;
        top: calc(50% - 100px); }
    #message_container .finish .red {
      background-color: rgba(255, 0, 0, 0.75); }
      #message_container .finish .red .win {
        color: #daa520; }
      #message_container .finish .red .lose {
        color: white; }
    #message_container .finish .white {
      background-color: rgba(255, 255, 255, 0.75); }
      #message_container .finish .white .win {
        color: #daa520; }
      #message_container .finish .white .lose {
        color: black; }
    #message_container .finish .again {
      position: fixed;
      width: 240px;
      bottom: 16px;
      left: calc(50% - 120px);
      background-color: #daa520;
      margin: 0 auto;
      padding: 8px;
      text-align: center;
      font-size: 30px;
      color: white;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.45098) 0px 5px 30px 0px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.45098) 0px 5px 30px 0px;
      -moz-box-shadow: rgba(0, 0, 0, 0.45098) 0px 5px 30px 0px; }

#tutorial {
  display: none;
  position: relative;
  padding: 16px 24px;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 600px;
  font-size: 20px;
  text-align: center; }
  #tutorial .left {
    text-align: left; }
  #tutorial h1, #tutorial h2 {
    margin-bottom: 16px; }
  #tutorial h1 {
    margin-top: 60px; }
  #tutorial h2 {
    line-height: 42px;
    font-size: 30px; }
  #tutorial img {
    width: 240px;
    margin-bottom: 16px; }
  #tutorial p.strong {
    font-weight: bold;
    font-size: 24px; }
  #tutorial span.strong {
    font-weight: bold; }
  #tutorial #itunes {
    margin-top: 42px;
    width: 100%;
    height: auto; }
  #tutorial .button {
    width: 240px;
    margin: 32px auto 16px;
    padding: 8px;
    text-align: center;
    font-size: 30px;
    background-color: #4a3b25;
    color: white;
    border-radius: 16px;
    font-size: 20px; }

#scroll_container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll; }

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-image: url("../images/background.jpeg"); }
  #background .enemy {
    position: relative;
    height: 5%;
    opacity: 0.7; }
  #background .friend {
    position: relative;
    top: 90%;
    height: 5%;
    opacity: 0.7; }
  #background .border {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 4px;
    background-color: white;
    top: calc(50% - 2px); }

#scroll_body {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100000px;
  background-size: 100% auto;
  background-image: url("../images/rope.png"); }

#training {
  position: fixed;
  width: 100%;
  z-index: 2;
  display: none; }
  #training .home, #training .twitter {
    width: 50px;
    height: 44px; }
    #training .home img, #training .twitter img {
      width: 100%;
      height: auto; }
  #training .home {
    position: fixed;
    bottom: 16px;
    left: 16px; }
  #training .twitter {
    position: fixed;
    bottom: 16px;
    right: 16px; }

#scroll_counter {
  top: 20px;
  font-weight: bold;
  font-size: 60px;
  color: white;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
